/*!
 * Discipline component: DcpLink
 */

.dcp-link {
    font-family: var(--dcp-primary-font);
    font-weight: 600;
    font-size: 1rem;
    border-radius: 6px;
    padding: 6px 12px;
    margin: 2px 4px;
    cursor: pointer;
    line-height: 1.5;
    display: flex;
    align-items: center;
    user-select: none;

    &.accent {
        background-color: var(--dcp-accent-color);
        color: var(--primary-color);
        border: 5px solid var(--dcp-accent-border-color);
    }

    &.primary {
        background-color: var(--dcp-primary-color);
        color: white;
        border: 5px solid var(--dcp-primary-border-color);
    }
    
    .dpc-icon { height: 24px; }

    .slot-start { margin-right: 6px; }
    .slot-end { margin-left: 6px; }
}