/* Exemplo de importação de css do discipline-core direto no css do projeto */
@import url('../node_modules/@codecompanybrasil/discipline-core/dist/styles/discipline-core.min.css');

.italic {
    font-style: italic;
}

.wght-400 {
    font-weight: 400;
}

.wght-600 {
    font-weight: 600;
}

.wght-700 {
    font-weight: 700;
}

body {
    padding: 12px;
}

section.font-examples h2,
section.font-examples p {
    font-family: var(--font-family-source-sans-3);
}

section {
    background-color: #F0F0F0;
    margin: 2rem 0;
    padding: 20px;
}

section h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

hr {
    margin: 2rem 0;
}