/*!
 * Discipline componente: Button
 */

.dcp-button,
.dcp-link {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 32px;
    border-radius: 6px;
    padding: 10px;
    height: 80px;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &.accent {
        background-color: var(--dcp-accent-color);
        color: var(--primary-color);
        border: 5px solid var(--dcp-accent-border-color);
    }

    &.primary {
        background-color: var(--dcp-primary-color);
        color: white;
        border: 5px solid var(--dcp-primary-border-color);
    }
}