/*!
 * Discipline component: DcpButton
 */

.dcp-button {
    font-family: var(--dcp-primary-font);
    font-weight: 600;
    font-size: 1rem;
    border-radius: 6px;
    padding: 6px 12px;
    margin: 2px 4px;
    cursor: pointer;
    line-height: 1.5;
    align-items: center;
    user-select: none;

    &.accent {
        background-color: var(--dcp-accent-color);
        color: var(--primary-color);
        border: 5px solid var(--dcp-accent-border-color);
    }

    &.primary {
        background-color: var(--dcp-primary-color);
        color: var(--dcp-white-color);
        border: 5px solid var(--dcp-primary-border-color);
    }

    &.success {
        background-color: var(--dcp-success-color);
        color: var(--dcp-white-color);
        border: 5px solid var(--dcp-success-border-color);
    }

    .dcp-icon {
        height: 24px;
    }

    [class^='slot-'] {
        display: flex;
        align-items: center;

        &[class$='start'] {
            margin-right: 6px;
        }

        &[class$='end'] {
            margin-left: 6px;
        }
    }
}

button.dcp-button {
    display: flex;
}

a.dcp-button {
    display: inline-flex;
}