@mixin color-mix {
    &.accent {
        background-color: var(--dcp-accent-color) ;
        color: var(--primary-color);
        border-color: var(--dcp-accent-border-color);
    }
    
    &.primary {
        background-color: var(--dcp-primary-color);
        color: var(--dcp-white-color);
        border-color: var(--dcp-primary-border-color);
    }
    
    &.success {
        background-color: var(--dcp-success-color);
        color: var(--dcp-white-color);
        border-color: var(--dcp-success-border-color);
    }
}